<div >
  <h3>Add users</h3>
  <div class="row">
    <div class="col-lg-10">
      <form [formGroup]="userForm" (ngSubmit)="onupdateUser()">
        <div class="container-fluid">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control input-lg" formControlName="name">

          </div>
          <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control input-lg" formControlName="email">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="text" class="form-control input-lg" formControlName="password">
          </div>
          <div class="form-group">
              <label>Role:</label>
              <input type="text" class="form-control input-lg" formControlName="role">
            </div>
        


        </div>
        <div class="row final">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          
          </div>


        </div>


      </form>
    </div>
    
  </div>

</div>