.container{
    margin-top:15%;
    position: relative;

}
.badge{
    position: absolute;
  top:85%;
    left:1200px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top:12px; 
    background: white;
    box-shadow: 5px 5px lightgray

}
 .about{
    background: rgb(194, 193, 193);

 }
.discoer img {
    position: relative;
    max-width: 100%;
    left: 0;
    right:0;
max-height: 20%

}
