<div [@routerTransition]>



  <h3>Add Blog</h3>

  <div class="row">
    <div class="col-lg-10">
      <form [formGroup]="blogForm" (ngSubmit)="addBlog()">
        <div class="container-fluid">
          <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control input-lg" formControlName="title">

          </div>
          <div class="form-group">
              <label>About:</label>
              <p-editor formControlName="about" [style]="{'height':'100px'}"></p-editor>          </div>
          <div class="form-group">
            <label>Description:</label>
            <p-editor formControlName="description" [style]="{'height':'320px'}"></p-editor>          </div>
          <div class="form-group">
            <label>Blog Image</label>
            <input type="file" name="photo" (change)="onFileChange($event)" id="file" ><br>
            <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" width="50px" height="50px">>
            
          </div>
         

        </div>
        <div class="row final">
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>


        </div>


      </form>
    </div>
   
  </div>
  <!-- /.row -->
</div>