<p-confirmDialog></p-confirmDialog>

<div [@routerTransition]>
        <h3>List Users</h3>
        <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
          <thead>
          <tr>
              <th style="width: 20%">
                  <mfDefaultSorter by="name">Title</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                  <mfDefaultSorter by="email">Description</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                  <mfDefaultSorter by="age">Image</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                  <mfDefaultSorter by="Action">Action</mfDefaultSorter>
              </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let blog of blogList">
              <td>{{blog.title}}</td>
              <td ><div innerHtml="{{blog.description}}"></div></td>
              <td><img [src]="blog.blogImage"alt="blog image" width="50px" height="50px"></td>
              <td>
                  <button class="btn btn-primary" [routerLink]="['/layout/blog/edit',blog._id]">Edit</button>&nbsp;
                  <button class="btn btn-danger" (click)="delete(blog._id)">Delete</button>
              </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
              <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
          </tr>
          </tfoot>
      </table>
      </div>
      
      