<div [@routerTransition]>
<section>
  
    <h1>products</h1>
<div class="row products">
     <div class="col-md-4" *ngFor="let product of productList">
     <p-card>
        <p-header>
            <img  src={{product.imagePath}} alt={{product.product_name}}>
        </p-header>
        <h6 matLine>{{product.product_name }}</h6>
        <p>{{product.product_description}}</p>
        <br>
        <h6>{{product.price | currency:'USD':true}}</h6>&nbsp;
        <p-footer>
            
            <button mat-raised-button color="primary" (click)="addToCart(product)">Add to cart</button>
            
        </p-footer>
    </p-card>
    <br>
      </div>
    </div>

</section>
</div>


