body{
    font-family: Arial, Helvetica, sans-serif
}
.products{
    margin-top: 10%;
    padding-bottom: 20%
}
h6{
    color:rgba(51, 16, 16, 0.692);
    font-style: bold;
    text-shadow: 2px 2px lightgray
}
p{
    font-style: oblique
}