<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Welcome to Sublime </h1>
            <form [formGroup]="loginForm" role="form" (ngSubmit)="onLoggedin()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control input-underline input-lg" id="" placeholder="Email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" formControlName="password" placeholder="Password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit"> Log in </button>
                &nbsp;
                <button class="btn rounded-btn" [routerLink]="['/signup']">Register</button>
            </form>
        </div>
    </div>
</div>
