<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <button class="dropdown-btn users"> <i class="fa fa-fw fa-user"></i>&nbsp;Users
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a [routerLink]="['/layout/addUser']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-edit"></i>&nbsp;
                <span>{{ 'Add Users' | translate }}</span>
            </a>
            <a [routerLink]="['/layout/listUser']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa  fa-th-list"></i>&nbsp;
                <span>{{ 'List Users' | translate }}</span>
            </a>
           
          </div>
        <button class="dropdown-btn blogs"> <i class="fa fa-fw fa-edit"></i>&nbsp;Blogs 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a [routerLink]="['/layout/blog']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-edit"></i>&nbsp;
                <span>{{ 'Add Blogs' | translate }}</span>
            </a>
            <a [routerLink]="['/layout/blog/list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa  fa-th-list"></i>&nbsp;
                <span>{{ 'List Blogs' | translate }}</span>
            </a>
           
          </div>
          <button class="dropdown-btn products"> <i class="fa fa-fw fa-th"></i>&nbsp;Products
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a [routerLink]="['/layout/addProduct']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-edit"></i>&nbsp;
                <span>{{ 'Add Products' | translate }}</span>
            </a>
            <a [routerLink]="['/layout/listProduct']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa  fa-th-list"></i>&nbsp;
                <span>{{ 'List Products' | translate }}</span>
            </a>
           
          </div>
          
       
       
      
       

    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
