<p-confirmDialog></p-confirmDialog>

<div [@routerTransition]>
  <h3>List products</h3>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="name">Product Name</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="email">Category</mfDefaultSorter>
        </th>
        <th style="width: 30%">
            <mfDefaultSorter by="age">Product Description</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter by="Role">Price</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="Action">Action</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
        <td>{{product.product_name}}</td>
        <td>{{product.category}}</td>
        <td >{{product.product_description}}</td>
        <td>{{product.price  | currency:'USD':true}}</td>
        <td>
            <button class="btn btn-primary" [routerLink]="['/layout/editProduct',product._id]">Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="delete(product._id)">Delete</button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
</div>

