<div [@routerTransition]>
<div class="banner">
  <div class="row">
    <img src="/assets/images/1.png" alt="">
</div>
<div class="row">
    <img src="/assets/images/2.png" alt="">
</div>
<div class="row">
    <img src="/assets/images/4.png" alt="">
</div>
</div>



<div class="aboutUs">
  <div class="row">
    <div class="col-md-5">
      <img src="/assets/images/2.JPG" alt="'/">
    </div>
    <div class="col-md-7">
      <div class="aboutUs_Content">
        <h3>SusieCakes’ founder, Susan Sarich, grew up in Chicago, where she was called Susie by her two beloved grandmothers,
          Mildred and Madeline.</h3>
        <p>Every day Susie would come home from school to enjoy her grandmothers’ company over a glass of milk and a fresh
          baked treat. This daily baking ritual and special time together in the kitchen left a lasting impression. When
          Susie grew up to become Susan and moved to the West Coast, she brought along her grandmothers’ carefully recorded
          recipes on handwritten 3×5 cards. The pure and simple connection those recipes fostered helped Susan form SusieCakes
          bakeries to share her experience with others.</p>
        <p>Through SusieCakes, Susan honors Mildred and Madeline: both in her dedication to their baking traditions, and
          her commitment to providing women with progressive careers in the food & hospitality industry.</p>
        <p>“You most likely recall a cake as part of your life’s milestone celebrations. Cake has the unique ability to connect
          us with the people and events of our past. However, cake should not be reserved only for these special occasions.
          A delicious slice of cake can immediately bring a bit of celebration to an ordinary day. I hope you enjoy SusieCakes
          on your special occasions, as well as all the days in between.”</p>
        <img src="/assets/images/3.png" alt="">
      </div>

    </div>

  </div>
</div>
</div>