
.aboutUs{
    margin-top: 10%;

}
.aboutUs img{
    width: 100%;
    height :100%;
    border-radius: 20px
}
.aboutUs_Content h3{
    color: rgb(146, 128, 128);
    margin-top: 9%;
    font-style: oblique;
    font-family: snell -apple-system, BlinkMacSystemFont, 'Segoe UI', Robot, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.aboutUs_Content p{
    color: rgb(92, 78, 78);
   
    margin-top: 3%;
    padding-top: 2%;
    font-style: italic
}

.aboutUs_Content img{
    width:30%;
    height: 20%;
}
.banner img {
    width:1100px
}