<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Registeration</h1>
            <form [formGroup]="registerForm" role="form" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" formControlName="name" placeholder="Full Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required"> Name is required</div>
                    </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" formControlName="email"  placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg"  formControlName="password" placeholder="Password " [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                  
                </div>
                <button class="btn rounded-btn" type="submit"> Register </button>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['']"> Log in </a>
            </form>
        </div>
    </div>
</div>
