<body>
  <div [@routerTransition]>
    <div class="container">

      <h3>Add Shipping Adrress</h3>
      <div class="container-fluid">
        <form [formGroup]="shipingForm" (ngSubmit)="addShppingDetail()">
        <div class="row">
          <div class="col-lg-6">
          <div class="form-group">
            <label> First Name :</label>
            <input type="text" class="form-control input-lg" formControlName="firstname">

          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label> Last Name:</label>
            <input type="text" class="form-control input-lg" formControlName="lastname">

          </div>
          </div>
        </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> Contact:</label>
                <input type="Number" class="form-control input-lg" formControlName="contact">

              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control input-lg" formControlName="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label>Address line 1:</label>
                <input type="text" class="form-control input-lg" formControlName="address_line_1">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label>Address line 2:</label>
                <input type="text" class="form-control input-lg" formControlName="address_line_2">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label>Country:</label>
                <input type="text" class="form-control input-lg" formControlName="country">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>state:</label>
                <input type="text" class="form-control input-lg" formControlName="state">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>City:</label>
                <input type="text" class="form-control input-lg" formControlName="city">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>Zipcode:</label>
                <input type="Number" class="form-control input-lg" formControlName="zipcode">
              </div>
            </div>
          </div>



       
        <div class="row final">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary" routerLink="/users/payment">Done</button>

          </div>


        </div>


        </form>
      </div>

    </div>
  </div>

</body>