<div [@routerTransition]>
  <h3>Edit Blog</h3>

  <div class="row">
    <div class="col-lg-10">
      <form [formGroup]="blogForm" (ngSubmit)="addBlog()">
        <div class="container-fluid">
          <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control input-lg" formControlName="title">

          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control input-lg" type="text" formControlName="description"></textarea>



          </div>
          <div class="form-group">
            <label>Blog Image</label>
            <input type="file" name="photo" (change)="onFileChange($event)" id="file"><br>
            <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" width="50px" height="50px">

          </div>


        </div>
        <div class="row final">
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>


        </div>


      </form>
    </div>
    >
  </div>
  <!-- /.row -->
</div>