<p-confirmDialog></p-confirmDialog>
<div [@routerTransition]>
  <h3>List Users</h3>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="email">Email</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter by="age">Status</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="Role">Role</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="Action">Action</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersList">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td >{{user.is_active}}</td>
        <td>{{user.role | uppercase}}</td>
        <td>
            <button class="btn btn-primary" [routerLink]="['/layout/editUser',user._id]">Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="delete(user._id)">Delete</button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
</div>

