<header>
  <div class="container-fluid">
    <div class="row">
    
      <div class="content">
        <h3>
            <a routerLink="/users/home">ConFusion</a>
        </h3>

        <nav>
          <ul>
            <li>
              <a routerLink="/users/menu">
                <b>Menu</b>
              </a>
            </li>
            <li>
              <a href="#">
                <b>Gallery</b>
              </a>
            </li>

            <li>
              <a href="#">
                <b>Our Speciality</b>
              </a>
            </li>

            <li>
              <a routerLink="/users/blog">
                <b>Blog</b>
              </a>
            </li>
           
            <li style="float: right;">
              <button type="button" class="btn btn-default" (click)="onLogout()">logout</button>
            </li>
            <li style="float: right;">
              <a routerLink="/users/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Cart</a>
             </li>
             <li style="float: right;">
              <a href="#"><b>Welcome {{name}}</b></a>
             </li>
    

          </ul>

        </nav>
      </div>
    </div>
  </div>
</header>
