body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.container-fluid {
    position: fixed;
    max-width: 100%;
    left: 0;
    right:0;
    max-height: 30%;
    top:0%;
    z-index: 9;


}
.content  a{
    text-decoration: none;
    color:black;
    // text-shadow: 2px 2px  #f1f1f1;
  
}
.container-fluid img { width: 100%;
height: 750px;}

.container-fluid .content {
    position: absolute;
    top:0px;
    background:rgb(216, 199, 199); /* Black background with transparency */
    color:wheat;
    width: 100%;
    padding: 20px;
}
.content{
    top: fixed;
}
.content h3{
   
}
.content ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    text-align: center;
    margin-top: -50px;
    margin-left: 20%;
}
.content ul li{
    float: left;
    border:0px solid #ffffff;
    margin:10px;

}
.content ul li a{
    text-decoration: none;
    color:black;
    font-size:18px;
}
.content ul li button{
    border-radius:16px;
    background: lightgoldenrodyellow;
    padding: 10px;
}
.content-text{
    position: absolute;
    top:40%;
    left:35%;
    font-size: 20px;
    color: lightgoldenrodyellow;
    text-shadow: 3px;
} 