body{
    border:1px solid black;
    // padding-left: 10%;
    padding: 100px 100px 100px 100px
}
.blogs{
    margin-right: 10%;padding-right:10%;
    color: rgb(82, 31, 31)
}
.blogImage img{
 width: 80%;
 margin-left : 10%;
 margin-bottom:10%
    
}