<body>
  <div [@routerTransition]>
<div class="container">
    <div class="row">
      <div class="blogImage">
        <img src="/assets/images/lovecakes.jpg" alt="..">
      </div>
    </div>
    <hr>

  </div>
  <section>
    <div class="row blogs">

      <div class="col-md-12" *ngFor="let blog of blogList">
         
       <h5 matLine>{{blog.title}}</h5>
        <h6>{{blog.date | date:'fullDate'}}</h6>&nbsp;
        <img src={{blog.blogImage}} style="width:700px" alt={{blog.title}}>
        <br>&nbsp;
        <h6 matLine><div innerHTML="{{blog.about}}"></div></h6>
        <br>
       <button style="margin-top: 20px;margin-bottom: 20px" mat-raised-button color="primary" [routerLink]="['/users/blogDetail',blog._id]">Read More</button>
    <hr>
      </div>
      </div>
 
  
  </section>
</div>
</body>