<h2><i>Shopping product</i></h2>




   <div class="container" *ngIf="productList">      
         <div *ngFor="let product of productList">
            <p-card>
                <div class="row">
                    <div class="col-md-5">
                        <img width="300px" src={{product.product_id.imagePath}} alt={{product.product_name}}>
                    </div>
                    <div class="col-md-7">
                        <div class="products">
                            <h5 matLine>{{product.product_id.product_name }}</h5>
                            <h6> Category : {{product.product_id.category}}</h6>
                            <h6>Price: &nbsp;{{product.productPrice | currency:'USD':true}}</h6>
                            <!-- <button class="btn btn-primary" type="button" icon="pi pi-check" style="margin-right: .25em" (click)="IncreaseQuantity(this.product.product_id._id,this.product.quantity)">+</button>  -->
                            <input type="text" value="{{this.product.quantity}}" class="form-control input-lg" >
                            <!-- <button class="btn btn-primary" type="button" icon="pi pi-check" style="margin-right: .25em" (click)="DecreaseQuantity(this.product._id,this.product.product_id._id,this.product.quantity)">-</button> -->


                            <button mat-raised-button color="warn" (click)="delete(product.product_id._id)">Delete</button>
                        </div>
                    </div>
                </div>
            </p-card>
            <br>&nbsp;


        </div>
    </div>




    <br>

<hr>
<div class="row">
    <div class=" totalPrice">
        <h5><b>TotalPrice: </b></h5>
        <h5>&nbsp;&nbsp;{{TotalPrice| currency:'USD':true}}</h5>
        <br>
        <button mat-raised-button color="warn"  routerLink="/users/checkout">Checkout</button>
    </div>
</div>