<body>
    <div [@routerTransition]>
  <div class="container">
    <div class="row">
      <div class="blogImage">
        <img src="/assets/images/lovecakes.jpg" alt="..">
      </div>
    </div>
    <hr>

  </div>
  <section>
    <div class="row blogs">

      <div class="col-md-12" >

        <h5 matLine>{{blogList.title}}</h5>
        <h6>{{blogList.date | date:'fullDate'}}</h6>&nbsp;
        <img src={{blogList.blogImage}} style="width:900px" alt={{blog.title}}>
        <br>
        <h5 matLine>
          <div innerHTML="{{blogList.description}}"></div>
        </h5>
        <hr>
      </div>

    </div>
    <br>

    <br>
    <div class="row blogs">
    <div class="col-md-12" *ngFor="let user of commentList">
        <h5><i><b>By: {{user.name}}</b></i></h5>
        <h5>{{user.comment}}</h5>
        <p-rating [(ngModel)]="user.rating"readonly="true"></p-rating>
        <p>{{user.date | date:'fullDate'}}</p>
        <br>
        <hr>
      </div>
    </div>
</section>
  <section>
    <div class="row">
      <div class="col-lg-10">
        <form>
          <div class="container-fluid">
            <div class="form-group">
              <label>Add Comment:</label>
              <textarea type="text" class="form-control input-lg" id="Comment"></textarea>
            </div>
            <div class="form-group">
              <label>Rating:</label>
              <p-rating [(ngModel)]="rating" name="rating"></p-rating>
            </div>
          </div>
          <div class="row final">
            <div class="col-md-2">
              <button type="submit" (click)="addComment()" class="btn btn-primary">Post</button>
            </div>

          </div>
        </form>
      </div>
    </div>
</section>
</div>
</body>