body{
    border:1px solid black;
    height:100%;
    padding: 100px 100px 100px 100px
}

.blogs{
    // margin-left: 40%;
    color: rgb(161, 144, 144)
}
.blogImage img{
    width: 80%;
    margin-left : 10%;
    margin-bottom:10%
       
   }
   button{
       margin-left: 15%;
   }