<div [@routerTransition]>
  <h3>Add Products</h3>
  <div class="row">
    <div class="col-lg-10">
      <form [formGroup]="productForm" (ngSubmit)="onUpdateProduct()">
        <div class="container-fluid">
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control input-lg" formControlName="product_name">

          </div>
          <div class="form-group">
            <label>Category:</label>
            <select class="form-control" formControlName="category" id="sel2">
                <option>Cakes</option>
                <option>Cup Cakes</option>
                <option>Cookies & Bars</option>
                <option>Pies & Pudding</option>
            </select>
          </div>
          <div class="form-group">
            <label>Price:</label>
            <input type="number" class="form-control input-lg" formControlName="price">
          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea type="text" class="form-control input-lg" formControlName="product_description"></textarea>
          </div>

          <div class="form-group">
            <label>product:</label>
            <input type="file" (change)="onFileChange($event)" id="file" #fileInput><br>
            <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" width="40%" height="40%">
          </div>



        </div>
        <div class="row final">
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Submit</button>

          </div>


        </div>


      </form>
    </div>

  </div>

</div>